<h2><%= @email.message %></h2>

<p><i>This message was sent to you by Michelle.</i></p>

<p>You can see the code I worked on <a href="https://github.com/MichelleGlauser/ror-emailer">at my Github account</a> (minus my domain, user name, and password).</p>