<p>This is the content of the email Michelle has sent to you (in HTML).</p>

<p>You can see the code I worked on <a href="https://github.com/MichelleGlauser/ror-emailer">at my Github account</a> (minus my user name and password).</p>